<!DOCTYPE html> <!--Dimitrios--><!--Karolina-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title id="title">Add Agreement</title>
    <!-- import header part-->
</head>
<body>
    <!-- import menu-->
    <div th:insert="menu :: menu_template"></div>
    <!-- back button-->
    <div class="btn-undermenu">
        <a th:href="@{/agreement/create/selectDates}">
            <img src="http://localhost:8080/SVG/arrow-left-solid.svg" class="svg undermenu_button" height="30" width="30">
            <button class="btn-back" style="cursor: pointer"><strong>BACK</strong></button>
        </a>
    </div>

    <main class="main_body">
        <h1 class="heading">Add New Agreement</h1><br>
        <h2 class="heading">Available vehicles between <span th:text="${#temporals.format(agreement.startDate, 'dd-MM-yyyy')} + ' and ' + ${#temporals.format(agreement.endDate, 'dd-MM-yyyy')}"></span>:</h2><br>
        <div class="main table-wrapper" id="main">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Vehicle ID</th>
                    <th>Plates</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Beds</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vehicle : ${availableVehicles}">
                    <td th:text="${vehicle.vehicleID}"></td>
                    <td th:text="${vehicle.plates}"></td>
                    <td th:text="${vehicle.brand}"></td>
                    <td th:text="${vehicle.model}"></td>
                    <td th:text="${vehicle.beds}"></td>
                    <td th:text="${vehicle.price}"></td>
                    <td>
                        <!-- Add select button -->
                        <a th:href="@{/agreement/create/{startDate}/{endDate}/selectVeh*cle/{vehicleId}(startDate = ${agreement.startDate},
                        endDate = ${agreement.endDate}, vehicleId=${vehicle.vehicleID})}"><button class="btn-action">SELECT</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <!-- import footer-->
    <div th:insert="footer :: footer_template"></div>
</body>
</html>