<!DOCTYPE html> <!--Dimitrios--><!--Karolina-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title id="title">Add Agreement</title>
    <!-- import header part-->
</head>
<body>
    <!-- import menu-->
    <div th:insert="menu :: menu_template"></div>

    <!-- back button-->
    <div class="btn-undermenu">
        <a th:href="@{/agreement/viewAgreements}">
            <img src="http://localhost:8080/SVG/arrow-left-solid.svg" class="svg undermenu_button" height="30" width="30">
            <button class="btn-back" style="cursor: pointer"><strong>BACK</strong></button>
        </a>
    </div>


    <main class="main_body">
        <h1 class="heading">Add New Agreement</h1><br>
        <form action="#" th:action="@{/agreement/create/{startDate}/{endDate}/selectVeh*cle/{vehicleId}/existing-renter/{renterId}(startDate = ${startDate}, endDate=${endDate}, vehicleId=${vehicleId}, renterId=${renterId})}" th:object="${itemList}" method="post">
            <fieldset>
                <p>Pick-up and drop-off points</p>
                <label for="pickUpPoint">Pick-up:</label><br>
                <input type="number" min="0" max="2147483647" title="Only numeric characters." id="pickUpPoint" name="pickUpPoint" required="required" placeholder="ex. 45"><br>
                <label for="dropOffPoint">Drop-off:</label><br>
                <input type="number" min="0" max="2147483647" title="Only numeric characters." id="dropOffPoint" name="dropOffPoint" required="required" placeholder="ex. 45"><br>
                <br>
            </fieldset> <br>

            <fieldset>
                <p>Extra charges</p>
                <table><!-- Marianna -->
                    <tr th:each="item, itemStat: *{items}">
                        <td>
                            <label th:text="*{items[__${itemStat.index}__].name}"></label>
                            <input type="number" min="0" max="20" th:name="${item.name}" th:field="*{items[__${itemStat.index}__].quantity}" th:value="0">
                            <input type="number" hidden  th:field="*{items[__${itemStat.index}__].id}" th:value="*{items[__${itemStat.index}__].id}">
                            <input type="text" hidden  th:field="*{items[__${itemStat.index}__].name}" th:value="*{items[__${itemStat.index}__].name}">
                            <input type="number" hidden  th:field="*{items[__${itemStat.index}__].price}" th:value="*{items[__${itemStat.index}__].price}">
                        </td>
                    </tr>
                </table>
            </fieldset> <br>
            <input class="btn-submit-add" type="submit" value="Submit">
        </form>
    </main>
    <!-- import footer-->
    <div th:insert="footer :: footer_template"></div>
</body>
</html>