<!DOCTYPE html> <!--Dimitrios--><!--Karolina-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title id="title">Add Agreement</title>
    <!-- import header part-->
</head>
<!-- import menu-->
<div th:insert="menu :: menu_template"></div>

<!-- back button-->
<div class="btn-undermenu">
    <a th:href="@{/agreement/viewAgreements}">
        <img src="http://localhost:8080/SVG/arrow-left-solid.svg" class="svg undermenu_button" height="30" width="30">
        <button class="btn-back" style="cursor: pointer"><strong>BACK</strong></button>
    </a>
</div>


<main class="main_body">
    <h1 class="heading">Add New Agreement</h1><br>
        <div class="main table-wrapper" id="main" style="margin: 0% 40% 5%;">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Renter:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a th:href="@{/agreement/create/{startDate}/{endDate}/selectVeh*cle/{vehicleId}/new-renter(startDate=${startDate}, endDate=${endDate}, vehicleId=${vehicleId})}"><button class="btn-action" style="font-size: 14px">New Renter</button></a>
                        <a th:href="@{/agreement/create/{startDate}/{endDate}/selectVeh*cle/{vehicleId}/existing-renter(startDate=${startDate}, endDate=${endDate}, vehicleId=${vehicleId})}"><button class="btn-action" style="font-size: 14px">Existing Renter</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <!-- import footer-->
    <div th:insert="footer :: footer_template"></div>
</body>
</html>