<!DOCTYPE html> <!--Dimitrios-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title id="title">End Agreement</title>
    <!-- import header part-->
</head>
<body>
    <!-- import menu-->
    <div th:insert="menu :: menu_template"></div>

    <!-- back button-->
    <div class="btn-undermenu">
        <a th:href="@{/agreement/viewAgreements}">
            <img src="http://localhost:8080/SVG/arrow-left-solid.svg" class="svg undermenu_button" height="30" width="30">
            <button class="btn-back" style="cursor: pointer"><strong>BACK</strong></button>
        </a>
    </div>

    <h1 class="heading">Generate Invoice</h1>

    <main class="main_body">

        <div class="main table-wrapper" id="main">
            <form action="#" th:action="@{/agreement/showAgreementListForEnd}" method="get" class="form-inline">
                <div style="float:left;">
                    <div>
                        <p style="margin-right: 3px;">Search by the end date of the agreement: </p>
                    </div>
                </div>
                <div style="float:left;">
                    <div>
                        <label>
                            <input type="date" th:value="${now}" name="endDate" placeholder="Enter end date" style="margin-top: 13px"/>
                        </label>
                        <input class="btn-action" type="submit" value="SEARCH" >
                    </div>
                </div>
            </form>
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Agreement ID</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Renter Name</th>
                    <th>Vehicle License Plate</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="agreement:${agreements}">
                    <td th:text="${agreement.id}"></td>
                    <td th:text="${#temporals.format(agreement.startDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#temporals.format(agreement.endDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${agreement.renter.firstName + ' ' + agreement.renter.lastName}"></td>
                    <td th:text="${agreement.vehicle.plates}"></td>
                    <td>
                        <!-- End button available if driven km is zero (meaning: not ended yet) and is not cancelled already -->
                        <a th:href="@{/agreement/viewAgreement(agreementId=${agreement.id})}" ><button class="btn-action">VIEW</button></a>
                        <a th:href="@{'/agreement/updateAgreement/'+${agreement.id}}" ><button class="btn-action">UPDATE</button></a>
                        <a th:if="${agreement.drivenKm == 0} and !${agreement.cancelled} and ${agreement.renter.firstName} and ${agreement.vehicle.plates}" th:href="@{/agreement/showFormForUpdate(agreementId=${agreement.id})}"><button class="btn-action">GENERATE INVOICE</button></a>
                        <a th:if="!${agreement.drivenKm == 0} or ${agreement.cancelled} or !${agreement.renter.firstName} or !${agreement.vehicle.plates}"><button class="btn-action-disabled" disabled>GENERATE INVOICE</button></a>
                        <a th:if="${agreement.canBeCancelled(agreement.startDate)} and !${agreement.cancelled} and ${agreement.renter.firstName} and ${agreement.vehicle.plates}" th:href="@{/agreement/cancelAgreement(agreementId=${agreement.id})}"><button class="btn-cancel">CANCEL</button></a>
                        <a th:if="!${agreement.canBeCancelled(agreement.startDate)} or ${agreement.cancelled} or !${agreement.renter.firstName} or !${agreement.vehicle.plates}"><button class="btn-cancel-disabled" disabled>CANCEL</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>