<!DOCTYPE html> <!--Dimitrios-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title id="title">End Agreement</title>
    <!-- import header part-->
</head>
<body>
<!-- import menu-->
<div th:insert="menu :: menu_template"></div>
<!-- back button-->
<div class="btn-undermenu">
    <a th:href="@{/agreement/viewAgreements}">
        <img src="http://localhost:8080/SVG/arrow-left-solid.svg" class="svg undermenu_button" height="30" width="30">
        <button class="btn-back" style="cursor: pointer"><strong>BACK</strong></button>
    </a>
</div>
<h1 class="heading">Generate Invoice</h1><br>

<main class="main_body">
    <form action="#" th:action="@{/agreement/save}" th:object="${agreement}" method="post">
        <fieldset>
            <!-- add hidden form field to handle the update -->
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{renter.id}">
            <input type="hidden" th:field="*{renter.firstName}">
            <input type="hidden" th:field="*{renter.lastName}">
            <input type="hidden" th:field="*{renter.cpr}">
            <input type="hidden" th:field="*{renter.email}">
            <input type="hidden" th:field="*{renter.phone}">
            <input type="hidden" th:field="*{startDate}">
            <input type="hidden" th:field="*{endDate}">
            <input type="hidden" th:field="*{pickUpPoint}">
            <input type="hidden" th:field="*{dropOffPoint}">
            <input type="hidden" th:field="*{vehicle.vehicleID}">
            <input type="hidden" th:field="*{vehicle.price}">
            <input type="hidden" th:field="*{vehicle.plates}">
            <!-- add radio button for entering fuel level on drop-off -->
            <label >Is the vehicle's tank more than half full?:</label>
            <input type="radio" id="yes" name="levelGasoline" th:field="${agreement.levelGasoline}" value="1" checked="checked">
            <label for="yes">yes</label>
            <input type="radio" id="no" name="levelGasoline" th:field="${agreement.levelGasoline}" value="0">
            <label for="no">no</label><br><br>
            <label for="drivenKm">How many km has the renter driven?</label>
            <input type="number" min="1" max="2147483647" title="Only numeric characters." id="drivenKm" name="drivenKm" required="required" placeholder="ex. 45"><br>
        </fieldset><br>
        <input class="btn-submit-add" type="submit" value="Submit">
    </form>
</main>
<!-- import footer-->
<div th:insert="footer :: footer_template"></div>
</body>
</html>