<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <meta charset="UTF-8">
    <title id="title">Nordic Motorhomes</title>
    <!-- import header part-->
</head>
<body>
<!-- import menu-->
<div th:replace="menu :: menu_template"></div>

<!--Greets the user with the username entered-->
<h3 class="myuser">Welcome, <span>[[${#httpServletRequest.remoteUser}]]</span>!</h3>

<div class="motorimg">
    <img src="/image/motorhome.png" height="400">
</div>

<label class="quote">Home is where your heart is! - Joseph Neal, 1847 </label>

<!-- insert footer -->
<div th:insert="footer :: footer_template"></div>
</body>
</html>
