<!DOCTYPE html> <!--Karolina-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title id="title">Vehicle Information</title>
    <!-- import header part-->
</head>
<body>
<!-- import menu-->
<div th:insert="menu :: menu_template"></div>

<!-- back button-->
<div class="btn-undermenu">
    <a th:href="@{/viewVehicles}">
        <img src="http://localhost:8080/SVG/arrow-left-solid.svg" class="svg undermenu_button" height="30" width="30">
        <button class="btn-back" style="cursor: pointer"><strong>BACK</strong></button>
    </a>
</div>
<main class="main_body">
    <div class="main" id="main">
        <!-- display vehicle information -->
        <h1 th:text="${vehicle.brand} + ' ' + ${vehicle.model} + ' ' + ${vehicle.plates}"></h1>
        <section class="grid-container">
            <section>
                <h2>Vehicle Information</h2>
                <ul>
                    <li><strong>Plates:</strong> <span th:text="${vehicle.plates}"></span></li>
                    <li><strong>Number of beds:</strong> <span th:text="${vehicle.beds}"></span></li>
                    <li><strong>Price per night:</strong> <span th:text="${vehicle.price}"></span></li>
                </ul>
            </section>
        </section>
        <!-- display active agreements if any -->
        <h1 th:if="${!activeAgreements.empty}">Active Agreements:</h1></br>
        <section class="grid-container">
            <article th:each="agreement: ${activeAgreements}" class="grid-column">
                <ul>
                    <li><strong>Id:</strong> <span th:text="${agreement.id}"></span></li>
                    <li><strong>Dates:</strong> <span th:text="${#temporals.format(agreement.startDate, 'dd/MM/yyyy') + ' - ' + #temporals.format(agreement.endDate, 'dd/MM/yyyy')}"></span></li>
                    <li><strong>Renter:</strong> <span th:text="${agreement.renter.firstName + ' ' + agreement.renter.lastName}"></span></li>
                    <li><a th:href="@{/agreement/viewAgreement(agreementId=${agreement.id})}"><button class="btn-action">VIEW</button></a></li>
                </ul>
                </hr>
            </article>
        </section>
        </section>
        <!-- display future agreements if any -->
        <h1 th:if="${!futureAgreements.empty}">Future Agreements:</h1></br>
        <section class="grid-container">
            <article th:each="agreement: ${futureAgreements}" class="grid-column">
                <ul>
                    <li><strong>Id:</strong> <span th:text="${agreement.id}"></span></li>
                    <li><strong>Dates:</strong> <span th:text="${#temporals.format(agreement.startDate, 'dd/MM/yyyy') + ' - ' + #temporals.format(agreement.endDate, 'dd/MM/yyyy')}"></span></li>
                    <li><strong>Renter:</strong> <span th:text="${agreement.renter.firstName + ' ' + agreement.renter.lastName}"></span></li>
                    <li><a th:href="@{/agreement/viewAgreement(agreementId=${agreement.id})}"><button class="btn-action">VIEW</button></a></li>
                </ul>
                </hr>
            </article>
        </section>
        <!-- display inactive agreements if any -->
        <h1 th:if="${!inactiveAgreements.empty}">Inactive Agreements:</h1></br>
        <section class="grid-container">
            <article th:each="agreement: ${inactiveAgreements}" class="grid-column">
                <ul>
                    <li><strong>Id:</strong> <span th:text="${agreement.id}"></span></li>
                    <li><strong>Dates:</strong> <span th:text="${#temporals.format(agreement.startDate, 'dd/MM/yyyy') + ' - ' + #temporals.format(agreement.endDate, 'dd/MM/yyyy')}"></span></li>
                    <li><strong>Renter:</strong> <span th:text="${agreement.renter.firstName + ' ' + agreement.renter.lastName}"></span></li>
                    <strong><li th:text="${agreement.cancelled} ? 'Cancelled'" style="color: red">Cancelled</li></strong>
                    <li><a th:href="@{/agreement/viewAgreement(agreementId=${agreement.id})}"><button class="btn-action">VIEW</button></a></li>
                </ul>
                </hr>
            </article>
        </section>

    </div>
</main>
<!-- insert footer -->
<div th:insert="footer :: footer_template"></div>
</body>
</html>