<!DOCTYPE html> <!--Dimitrios-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title id="title">Agreement Information</title>
    <!-- import header part-->
</head>
<body>
<!-- import menu-->
<div th:insert="menu :: menu_template"></div>

<!-- back button-->
<div class="btn-undermenu">
    <a th:href="@{/agreement/viewAgreements}">
        <img src="/SVG/arrow-left-solid.svg" class="svg undermenu_button" height="30" width="30">
        <button class="btn-back" style="cursor: pointer"><strong>BACK</strong></button>
    </a>
</div>
<main class="main_body">
    <div class="main" id="main">

        `<h1>Agreement <span th:text="${agreement.id}"></span></h1>
        <input type="hidden" th:field="${agreement.id}">
        <section class="grid-container">
            <section>
                <h2>Agreement Information & Charges</h2>
                <ul>
                    <li><strong>Start Date:</strong> <span th:text="${#temporals.format(agreement.startDate, 'dd-MM-yyyy')}"></span></li>
                    <li><strong>End Date:</strong> <span th:text="${#temporals.format(agreement.endDate, 'dd-MM-yyyy')}"></span></li>
                    <li><strong>Vehicle Fee:</strong> <span th:text="${agreement.calculateVehicleFee()}"></span></li>
                    <li><strong>Transfer Fee:</strong> <span th:text="${agreement.calculateTransferFee()}"></span></li>
                    <li><strong>Extra Items Fee:</strong> <span th:text="${agreement.calculateItemsFee()}"></span></li>
                    <li><strong>Total Fee:</strong> <span th:text="${agreement.calculateTotalPrice() + ' ' + 'EUR'}"></span></li>
                </ul>
            </section>
            <section>
                <h2>Extra Items</h2>
                <ul th:each="item: ${agreement.items}">
                    <li><strong th:text="${item.name + ': '}"></strong> <span th:text="${item.quantity + ' x ' + item.getSinglePrice() + ' = ' + item.price + ' EUR'}"></span></li>
                </ul>
            </section>

            <section th:if="${agreement.renter.firstName}">
                <h2>Renter Information</h2>
                <ul>
                    <li><strong>Name:</strong> <span th:text="${agreement.renter.firstName + ' ' + agreement.renter.lastName}"></span></li>
                    <li><strong th:text="${agreement.renter.country == 'Denmark'} ? 'CPR:' : 'Passport:'">CPR:</strong> <span th:text="${agreement.renter.cpr}"></span></li>
                    <li><strong>Email:</strong> <span th:text="${agreement.renter.email}"></span></li>
                    <li><strong>Phone:</strong> <span th:text="${agreement.renter.phone}"></span></li>
                    <li><strong>License Number:</strong> <span th:text="${agreement.renter.licenseNumber}"></span></li>
                </ul>
            </section>
            <section th:if="${agreement.renter.firstName}">
                <h2>Renter Address</h2>
                <ul>
                    <li th:text="${agreement.renter.street + ' ' + agreement.renter.building + ', ' + agreement.renter.floor + ' ' + agreement.renter.door}"></li>
                    <li th:text="${agreement.renter.zip + ' ' + agreement.renter.city}"></li>
                    <li th:text="${agreement.renter.country}"></li>
                </ul>
            </section>
            <section th:unless="${agreement.renter.firstName}">
                <h2>Renter Deleted From The System</h2>
            </section>

            <section th:if="${agreement.vehicle.plates}">
                <h2>Vehicle Information</h2>
                <ul>
                    <li><strong>Plate:</strong> <span th:text="${agreement.vehicle.plates}"></span></li>
                    <li><strong>Brand:</strong> <span th:text="${agreement.vehicle.brand}"></span></li>
                    <li><strong>Model:</strong> <span th:text="${agreement.vehicle.model}"></span></li>
                    <li><strong>Beds:</strong> <span th:text="${agreement.vehicle.beds}"></span></li>
                    <li><strong>Price:</strong> <span th:text="${agreement.vehicle.price}"></span></li>
                </ul>
            </section>
            <section th:unless="${agreement.vehicle.plates}">
                <h2>Vehicle Deleted From The System</h2>
            </section>
        </section>
    </div>
</main>
<!-- insert footer -->
<div th:insert="footer :: footer_template"></div>
</body>
</html>