<!DOCTYPE html><!-- Ilias-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title id="title">Update Employee</title>
    <!--    Import JS file-->
    <script src="http://localhost:8080/js/scripts.js"></script>
</head>
<body onload="cprOrPass()">

<!-- import menu-->
<div th:insert="menu :: menu_template"></div>

<!-- back button-->
<div class="btn-undermenu">
    <a th:href="@{/viewEmployees}">
        <img src="/SVG/arrow-left-solid.svg" class="svg undermenu_button" height="30" width="30">
        <button class="btn-back" style="cursor: pointer"><strong>BACK</strong></button>
    </a>
</div>

<h1 class="emp">Update Employee</h1>

<main class="main_body">
    <form th:action="@{/updateEmployee}" method="post">
        <fieldset>
            <!-- Personal information update tab           -->
            <p>Personal Information</p>
            <label>Employee ID:</label>
            <input type="text" name="id" th:value="${employee.id}" readonly="readonly" class="read-only"><br><br>
            <label>First name:</label>
            <input type="text" maxlength="45" name="firstName" pattern="[A-Z][a-z]+" title="Must start with a capital letter followed by lowercase letters." th:value="${employee.firstName}" placeholder="ex. John" required><br><br>
            <label>Last name:</label>
            <input type="text" maxlength="45" name="lastName" pattern="[A-Z][a-z]+" title="Must start with a capital letter followed by lowercase letters." th:value="${employee.lastName}" placeholder="ex. Smith" required><br><br>
            <label id="cprLabel">CPR:</label>
            <input type="text" id="cpr" maxlength="20" name="cpr" pattern="(\d){6}-(\d){4}" title="Must be in this format: DDMMYY-SSSS" th:value="${employee.cpr}" placeholder="ex. 251278-4568" required><br><br>
            <label>Telephone:</label>
            <input type="text" maxlength="20" name="phone" pattern="00\d+" title="Must include country code: 004552189658" th:value="${employee.phone}" placeholder="ex. 004552189658" required><br><br>
            <label>Email:</label>
            <input type="email" maxlength="45" name="email" th:value="${employee.email}" placeholder="ex. smith@gmail.com" required><br><br>
        </fieldset> <br>

        <fieldset>
            <!-- Address update tab           -->
            <p>Address</p>
            <label>Street:</label>
            <input type="text" maxlength="45" name="street" pattern="[A-ZÄÖÜÅÆØ][a-zäöüßøæå]+([ -][A-ZÄÖÜÅÆØ][a-zäöüßøæå]*)*" title="Each word must start with a capital letter followed by lowercase letters." th:value="${employee.street}" placeholder="ex. Falkoner Alle" required><br><br>
            <label>Building number:</label>
            <input type="number" max="2147483647" name="building" title="Only numeric characters." th:value="${employee.building}" placeholder="ex. 45" required><br><br>
            <label>Floor:</label>
            <input type="number" max="200" name="floor" title="Only numeric characters." th:value="${employee.floor}" placeholder="ex. 3" required><br><br>
            <label>Door:</label>
            <input type="text" name="door" pattern="tv|th|mf|-" title="Must contain only tv, th, mf, -." th:value="${employee.door}" placeholder="ex. th" required><br><br>
            <label>City:</label>
            <input type="text" name="city" pattern="[A-ZÄÖÜÅÆØ][a-zäöüßøæå]+([ -][A-ZÄÖÜÅÆØ][a-zäöüßøæå]*)*" title="Each word must start with a capital letter followed by lowercase letters." th:value="${employee.city}" placeholder="ex. Copenhagen" required><br><br>
            <label>Zip:</label>
            <input type="text" name="zip" maxlength="10" pattern="\d+" title="Only numeric characters." th:value="${employee.zip}" placeholder="ex. 1050" required><br><br>
            <label>Country:</label>
            <!--    Country drop down list            -->
            <select id="country" name="country" onchange="cprOrPass()" required>
                <option th:value="${employee.country}" selected hidden><span th:text="${employee.country}"></span></option>
                <option th:each="country: ${countries}" th:value="${country}"><span th:text="${country}"></span></option>
            </select><br><br>
        </fieldset> <br>

        <fieldset>
            <!-- Job update tab           -->
            <p>Job Specifics</p>
            <label>Job title:</label>
            <input type="text" maxlength="45" name="type" pattern="[A-ZÄÖÜÅÆØ][a-zäöüßøæå]+([ -][A-ZÄÖÜÅÆØ][a-zäöüßøæå]*)*" title="Each word must start with a capital letter followed by lowercase letters." th:value="${employee.type}" placeholder="ex. Sales Assistant" required><br><br>
            <label>Salary:</label>
            <input type="text" name="salary" pattern="\d+" title="Only numeric characters." th:value="${employee.salary}" placeholder="ex. 25000" required><br><br>

            <input type="checkbox" id="chk1" name="chk1" onclick="showPriv(this)">
            <label for="chk1">Would you like to change system privileges?</label>
            <div id="rolepass" style="display: none">
                <label>System role:</label>
                <select id="role" name="role" onchange="showFields(this)" disabled>
                    <option th:value="restricted"><span th:text="restricted"></span></option>
                    <option th:value="admin"><span th:text="admin"></span></option>
                    <option th:value="user"><span th:text="user"></span></option>
                </select><br>
                <br>
                <div id="pass" style="display:none;">
                    <label>Enter username:</label>
                    <input id="usern" maxlength="45" type="text" name="username" placeholder="Enter new username"><br><br>
                    <label>Enter password:</label>
                    <input id="passwd" maxlength="64" type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Enter new password"><br><br>
                </div>
            </div>
        </fieldset> <br>

        <input class="btn-submit-add" type="submit" value="Submit">

    </form><br>
</main>
<div th:insert="footer :: footer_template"></div>
</body>
</html>