<!DOCTYPE html> <!--Dimitrios--> <!-- Karolina-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:insert="header :: header_template">
    <title id="title">Agreements</title>
    <!-- import header part-->
    </head>
    <body>
        <!-- import menu-->
        <div th:insert="menu :: menu_template"></div>

        <main class="main_body">
            <h1 class="heading" style="margin: 70px 0 0 0;">Agreements</h1>
                <!-- button for adding new agreement -->
                <div class="btn-undermenu">
                    <a th:href="@{/agreement/create/selectDates}">
                        <img src="http://localhost:8080/SVG/plus-solid.svg" class="svg undermenu_button" height="30" width="30">
                        <button class="btn-add">
                            <strong>ADD NEW</strong>
                        </button>
                    </a>
                </div>
                <!-- button for ending an agreement -->
                <div class="btn-undermenu-next">
                    <a th:href="@{/agreement/showAgreementListForEnd}">
                        <img src="http://localhost:8080/SVG/receipt-solid.svg" class="svg undermenu_button" height="30" width="30">
                        <button class="btn-add">
                            <strong>GENERATE INVOICE</strong>
                        </button>
                    </a>
                </div>
                <!-- agreement table -->
                <div class="main table-wrapper" id="main">
                    <table class="fl-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Renter Name</th>
                            <th>Vehicle License Plate</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="agreement:${agreements}">
                            <td th:text="${agreement.id}"></td>
                            <td th:text="${#temporals.format(agreement.startDate, 'dd-MM-yyyy')}"></td>
                            <td th:text="${#temporals.format(agreement.endDate, 'dd-MM-yyyy')}"></td>
                            <td th:text="${agreement.renter.firstName} ? ${agreement.renter.firstName + ' ' + agreement.renter.lastName}: 'N/A'"></td>
                            <!-- add license plate here!!! -->
                            <td th:text="${agreement.vehicle.plates} ? ${agreement.vehicle.plates} : 'N/A' "></td>
                            <td>
                                <!-- Add view function -->
                                <a th:href="@{/agreement/viewAgreement(agreementId=${agreement.id})}" ><button class="btn-action">VIEW</button></a>
                                <a th:if="${agreement.drivenKm == 0} and !${agreement.cancelled} and ${agreement.renter.firstName} and ${agreement.vehicle.plates}" th:href="@{'/agreement/updateAgreement/'+${agreement.id}}"><button class="btn-action">UPDATE</button></a>
                                <a th:if="!${agreement.drivenKm == 0} or ${agreement.cancelled} or !${agreement.renter.firstName} or !${agreement.vehicle.plates}"><button class="btn-action-disabled" disabled>UPDATE</button></a>
                                <a th:if="${agreement.drivenKm == 0} and !${agreement.cancelled} and ${agreement.renter.firstName} and ${agreement.vehicle.plates}" th:href="@{/agreement/showFormForUpdate(agreementId=${agreement.id})}"><button class="btn-action">GENERATE INVOICE</button></a>
                                <a th:if="!${agreement.drivenKm == 0} or ${agreement.cancelled} or !${agreement.renter.firstName} or !${agreement.vehicle.plates}"><button class="btn-action-disabled" disabled>GENERATE INVOICE</button></a>
                                <a th:if="${agreement.canBeCancelled(agreement.startDate)} and !${agreement.cancelled} and ${agreement.renter.firstName} and ${agreement.vehicle.plates}" th:href="@{/agreement/cancelAgreement(agreementId=${agreement.id})}"><button class="btn-cancel">CANCEL</button></a>
                                <a th:if="!${agreement.canBeCancelled(agreement.startDate)} or ${agreement.cancelled} or !${agreement.renter.firstName} or !${agreement.vehicle.plates}"><button class="btn-cancel-disabled" disabled>CANCEL</button></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </main>
        <div th:insert="footer :: footer_template"></div>
    </body>
</html>