<!DOCTYPE html> <!--Marianna-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:insert="header :: header_template">
        <title id="title">Renters</title>
        <!-- import header part-->
    </head>
    <!-- when page gets loaded, checks whether failed message was added to the model
    failed message is added in case renter couldn't be deleted because of active/future contracts assigned to them
    renter isn't deleted and pop up window is shown with a faile message
    -->
    <body th:onload="${failed} ? 'return alert(&quot;Failed to delete the renter. Future/active agreements found.&quot;);'">
        <!-- import menu-->
        <div th:insert="menu :: menu_template"></div>

        <main class="main_body">

            <h1 class="heading" style="margin: 70px 0 0 0;">Renters</h1>

            <!-- add button-->
            <div class="btn-undermenu">
                <a th:href="@{/addRenter}">
                    <img src="/SVG/plus-solid.svg" class="svg undermenu_button" height="30" width="30"><button class="btn-add"><strong>ADD NEW</strong></button>
                </a>
            </div>

            <div class="main table-wrapper" id="main">
                <table class="fl-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>CPR/Passport</th>
                        <th>Phone</th>
                        <th>Driver License</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- print each renter in a new row-->
                    <tr th:each="renter: ${renters}">
                        <td th:text="${renter.id}"></td>
                        <td th:text="${renter.firstName}"></td>
                        <td th:text="${renter.lastName}"></td>
                        <td th:text="${renter.cpr}"></td>
                        <td th:text="${renter.phone}"></td>
                        <td th:text="${renter.licenseNumber}"></td>
                        <td>
                            <!--VIEW detailed information-->
                            <a th:href="@{'/showRenter/'+${renter.id}}"><button class="btn-action">VIEW</button></a>
                            <!--UPDATE information-->
                            <a th:href="@{'/updateRenter/'+${renter.id}}"><button class="btn-action">UPDATE</button></a>
                            <!--DELETE with confirmation message-->
                            <a th:href="@{'/deleteRenter/'+${renter.id}}"><button class="btn-action" onclick="return confirm('Are you sure you want to delete this renter?');">DELETE</button></a><!-- cant delete members with active contract-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <!-- insert footer -->
        <div th:insert="footer :: footer_template"></div>
    </body>
</html>